<!DOCTYPE html>
<html lang="en-us" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:width="http://www.w3.org/1999/xhtml">

<head>
  <meta charset="UTF-8">
  <title>Mediscreen</title>
  <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" rel="stylesheet">
</head>

<body>

<div style="padding: 1em;" th:fragment="fInfo">
  <div th:replace="fragments/header :: header"></div>
  <div style="display: flex; padding-right: 10%" class="container">
    <div style="padding: 1em 10% 1em 1em;text-decoration: underline;text-decoration-thickness: 5px; ">
      <font size="+2"><b>Patient informations</b></font>
    </div>
    <div style="padding-top: 2% ;">
      <a th:href="@{/Mediscreen/modify/{id}(id=${patientInfosFromSprint1.getId()})}">
        <input class="favorite styled"
               type="button"
               value="Modify patient informations">
      </a>
    </div>
  </div>
  <div th:switch="${patientInfosFromSprint3.getDiabetesAssessment()}">
    <div th:case="'None'">
      <div style="display: flex; padding-right: 10%; border: 1px solid black; background-color: green" class="container">
        <div>Diabete condition :</div>
        <span style="padding-left: 20%" th:text="${patientInfosFromSprint3.getDiabetesAssessment()}">Diabete condition : </span>
      </div>
    </div>
    <div th:case="'Borderline'">
      <div style="display: flex; padding-right: 10%; border: 1px solid black; background-color: orange" class="container">
        <div>Diabete condition :</div>
        <span style="padding-left: 20%" th:text="${patientInfosFromSprint3.getDiabetesAssessment()}">Diabete condition : </span>
      </div>
    </div>
    <div th:case="'In Danger'">
      <div style="display: flex; padding-right: 10%; border: 1px solid black; background-color: red" class="container">
        <div>Diabete condition :</div>
        <span style="padding-left: 20%" th:text="${patientInfosFromSprint3.getDiabetesAssessment()}">Diabete condition : </span>
      </div>
    </div>
    <div th:case="'Early onset'">
      <div style="display: flex; padding-right: 10%; border: 1px solid black; background-color: purple" class="container">
        <div>Diabete condition :</div>
        <span style="padding-left: 20%" th:text="${patientInfosFromSprint3.getDiabetesAssessment()}">Diabete condition : </span>
      </div>
    </div>


  </div>

<div class="container">


  <div class="row">
    <table class="table table-bordered">
      <thead>
      <tr>
        <th>FirstName</th>
        <th>LastName</th>
        <th>BirthDate</th>
        <th>Gender</th>
        <th>Phone</th>
        <th>Address</th>
      </tr>
      </thead>
      <tbody>


      <td><span th:text="${patientInfosFromSprint1.getFirstName()}"> FirstName </span></td>
      <td><span th:text="${patientInfosFromSprint1.getLastName()}"> Lastname </span></td>
      <td><span th:text="${patientInfosFromSprint1.getBirthdate()}"> Birthdate </span></td>
      <td><span th:text="${patientInfosFromSprint1.getGender()}"> Gender</span></td>
      <td><span th:text="${patientInfosFromSprint1.getPhone()}"> Phone</span></td>
      <td><span th:text="${patientInfosFromSprint1.getAddress()}"> Address</span></td>


      <!-- the Action column will have Edit & Delete buttons -->

      </tbody>
    </table>
    <div style="padding: 1em 10% 1em 2%;text-decoration: underline;text-decoration-thickness: 5px; " class="row">
      <font size="+2"><b>Notes</b></font>
    </div>
    <div class="row">
      <table class="table table-bordered">
        <thead>
        <tr>
          <th>Date</th>
          <th>Content</th>
        </tr>
        </thead>
        <tbody>

        <tr th:each="note : ${patientInfosFromSprint2.getNotes()}">
          <td><span th:text="${note.getCreationDate()}"> Date </span></td>
          <td>  <span style="white-space: pre-line" th:text="${note.getContent()}"> Content </span></td>
          <td class="text-center" style="width: 15%">
            <a th:href="@{/Mediscreen/info/updateNote/{id}/{creationDate}(id=${patientInfosFromSprint1.getId()},creationDate=${note.getCreationDate()})}">Modify Note</a>
          </td>
        </tr>


        </tbody>
      </table>

</div>
  </div>
</div>
</div>
</body>

</html>